<!-- Si la API esta cargando -->
<mat-progress-bar *ngIf="this.moviesArray?.length < 1 && this.loadingMovies" mode="indeterminate"></mat-progress-bar>

<!-- Si la API trajo las peliculas -->
<ng-container *ngIf="!this.loadingMovies">

    <!-- Filtros -->
    <p class="text-center">
        Filter by:
    </p>
    <div class="d-flex justify-content-center flex-wrap animated fadeInUp">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="this.selectedYear" (selectionChange)="changeFilters()">
                  <mat-option [value]=null>any</mat-option>
                  <mat-option *ngFor="let year of this.yearArray" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="this.selectedType" (selectionChange)="changeFilters()">
                  <mat-option [value]=null>any</mat-option>
                  <mat-option *ngFor="let type of ['series', 'movie']" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </div>

    <!-- Ordenar -->
    <div *ngIf="this.sortedMoviesArray?.length > 0" class="d-flex justify-content-right flex-wrap animated fadeInUp sort-container">
        <table matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="title">Nombre</th>
              <th mat-sort-header="year">Año</th>
            </tr>
        </table>
    </div>
      

    <!-- Si hay peliculas con los filtros -->
    <div *ngIf="this.sortedMoviesArray?.length > 0" class="d-flex justify-content-center flex-wrap animated fadeInUp">
    
        <ng-container *ngFor="let movie of this.sortedMoviesArray">
    
            <div class="card d-flex flex-column movie-card">
    
                <img class="movie-img" [src]="movie.images['Poster Art'].url" alt="portada" width="150" height="300">
    
                <p class="movie-title">
                    {{movie.title | slice:0:20}}<ng-container *ngIf="movie.title.length > 20">...</ng-container>
                </p>
    
            </div>
    
        </ng-container>
    
    </div>
    
    <!-- Si no hay peliculas con los filtros -->
    <div *ngIf="this.sortedMoviesArray?.length < 1" class="d-flex justify-content-center flex-wrap animated fadeInUp">
    
        <p class="movie-not-found">No se encontraron peliculas</p>
    
    </div>

</ng-container>
